
@{
    ViewBag.Title = "Tổng hợp đơn hàng";
    const int SUPPLYING_CATEGORY_DIVERSE = 1;
}

<h2>Tổng hợp đơn đặt hàng - @DateTime.Now</h2>
<hr />
<div>
    <h2>Tổng hợp sản phẩm giỏ rau: <span id="totalVegsBags"></span></h2>
    <p>Số lượng đặt trung bình cho ngày hôm nay: <b>100kg</b></p>
    @Html.Action("GetSuppliersByCategory", "Supplier", new { id = SUPPLYING_CATEGORY_DIVERSE });
</div>
<hr />
<div>
    <div id="actionBar">
        <button class="btn btn-success" onclick="order()">Tạo tất cả đặt hàng</button>
        <button class="btn btn-default" onclick="reset()">Reset</button>
    </div>

    <table id="supplierOrdersData" class="table"></table>
    <div id="orderDetails">
        <div class="form-horizontal">
            <div class="form-group">
                <p class="col-md-2">Tên</p>
                <p id="supplierName" class="col-md-6"></p>
            </div>
            <div class="form-group">
                <p class="col-md-2">Số điện thoại</p>
                <p id="supplierPhoneNumber" class="col-md-6"></p>
            </div>
            <div class="form-group">
                <p class="col-md-2">Địa chỉ</p>
                <p id="supplierEmail" class="col-md-6"></p>
            </div>

            <table id="productOrderDetails" class="table"></table>

            <div class="form-group">
                <div class="col-md-1">
                    <button id="" class="btn btn-default" onclick="edit()">Sửa</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-save" onclick="save(this.value)">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var SUPPLYING_CATEGORY_DIVERSE = 3;
        window.onload = function () {
            var data = window.localStorage.getItem("ordersResult");
            if (data != null) {
                data = JSON.parse(data);
                initOrder(data);
                initOrderDetails(data[0]);
                $('.btn-save').first().attr('value', 0);
                lockEditQuantity();
            }
            else {
                $.ajax({
                    method: "GET",
                    url: "/SupplierOrder/GenerateSupplierOrders/",
                    dataType: "json",
                    async: false,
                }).done(function (result) {
                    if (result.data.length > 0) {
                        window.localStorage.setItem('ordersResult', JSON.stringify(result.data));
                        window.localStorage.setItem('relatedCustomerOrderIds', JSON.stringify(result.customerOrderIds));
                        initOrder(result.data);
                        initOrderDetails(result.data[0]);
                        $('.btn-save').first().attr('value', 0);
                        lockEditQuantity();
                    }
                }).fail(function () {
                    alert("Lỗi đã xảy ra");
                });
            }
            $.ajax({
                method: "GET",
                url: "/CustomerOrder/SummarizeBagsOfVeg/",
                dataType: "json",
                async: false,
            }).done(function (result) {
                $('#totalVegsBags').text(result.total)
            })
        }

        function initSuppliers(data) {

        }

        function initOrder(data) {
            var htmlListSupplierOrder = "";
            for (var i = 0; i < data.length; i++) {
                htmlListSupplierOrder += '<tr>';
                htmlListSupplierOrder += '<td id="' + i + '"class="order" onclick="getOrderDetails(' + i + ')"><div class="td-order">' + data[i].Supplier.Name + '</div></td>';
                htmlListSupplierOrder += '</tr>';
            }
            $('#supplierOrdersData').html(htmlListSupplierOrder);
        }

        function initOrderDetails(order) {
            $('#supplierName').text(order.Supplier.Name);
            $('#supplierPhoneNumber').text(order.Supplier.PhoneNumber);
            $('#supplierEmail').text(order.Supplier.Email);

            var htmlListProductOrderDetails = ""
            htmlListProductOrderDetails += '<tr><tbody>';
            htmlListProductOrderDetails += '<th>Sản phẩm</th>';
            htmlListProductOrderDetails += '<th>Số lượng</th>';
            htmlListProductOrderDetails += '<th>Đơn giá</th>';
            htmlListProductOrderDetails += '<th></th>';
            htmlListProductOrderDetails += '</tr>';
            var orderDetails = order.SupplierOrderDetails;
            for (var i = 0; i < orderDetails.length; i++) {
                htmlListProductOrderDetails += '<tr>';
                htmlListProductOrderDetails += '<td>' + orderDetails[i].Product.Name + '</td>';
                htmlListProductOrderDetails += '<td><input class="product-quantity" value="' + orderDetails[i].Quantity + '" /></td>';
                htmlListProductOrderDetails += '<td>' + orderDetails[i].BuyPricePerUnit + '</td>';
                htmlListProductOrderDetails += '<td><button class="btn btn-default" onclick="viewCustomerOrder(' + orderDetails[i].ProductID + ')">Xem đặt hàng liên quan</button></td>';
                htmlListProductOrderDetails += '</tr>'; 
            }
            htmlListProductOrderDetails += '</tbody>';

            $('#productOrderDetails').html(htmlListProductOrderDetails);
            
            lockEditQuantity();
        }

        function getOrderDetails(index) {
            var result = JSON.parse(window.localStorage.getItem('ordersResult'));
            $('.btn-save').first().attr('value', index);
            initOrderDetails(result[index]);
        }

        function lockEditQuantity() {
            $('.product-quantity').attr("disabled", "disabled");
        }

        function edit() {
            $('.product-quantity').removeAttr("disabled");
        }

        function save(index) {
            var data = window.localStorage.getItem("ordersResult");
            if (data != null) {
                data = JSON.parse(data);
                $('.product-quantity').each(function (i) {
                    data[index].SupplierOrderDetails[i].Quantity = $(this)[0].value;
                })
            }
            window.localStorage.setItem('ordersResult', JSON.stringify(data));
            $('.product-quantity').attr("disabled", "disabled");
        }

        function viewCustomerOrder(id) {
            window.open('/CustomerOrder/GetRelatedCustomerOrderDetailByProduct/' + id, '_blank', 'left=100,top=100,width=1000,height=400,toolbar=1,resizable=0');
        }

        function order() {
            var r = confirm("Tạo tất cả các đơn hàng?");
            if (r == true) {
                var data = window.localStorage.getItem("ordersResult");
                if (data != null) {
                    $.ajax({
                        method: "POST",
                        url: "/SupplierOrder/CreateSupplierOrders/",
                        data: {
                            orders: data
                        },
                        async: false
                    }).done(function () {
                        alert("Đặt thàng công");
                        window.localStorage.removeItem("ordersResult");
                        updateCustomerOrders();
                    }).fail(function () {
                        alert("Đã có lỗi xảy ra");
                    });
                }     
            }      
        }

        function updateCustomerOrders() {
            var ids = window.localStorage.getItem("relatedCustomerOrderIds");
            if (ids != null) {
                $.ajax({
                    method: "POST",
                    url: "/CustomerOrder/UpdateGeneratedOrderStatus/",
                    data: {
                        data: ids
                    },
                    async: false
                }).done(function () {
                    alert("Cập nhật đặt hàng khách hàng thành công");
                    window.localStorage.removeItem("relatedCustomerOrderIds");
                }).fail(function () {
                    alert("Đã có lỗi khi cập nhật đặt hàng của khách hàng");
                });
            }
        }

        function reset() {
            var r = confirm("Tải lại tất cả đặt hàng?");
            if (r == true) {
                window.localStorage.removeItem("ordersResult");
                window.localStorage.removeItem("relatedCustomerOrderIds");
                location.reload();
            }
        }
    </script> 
}


